{% extends 'base.html' %}
{% block title %}Posts by featured authors{% endblock %}
  {% block content %}
  {% include 'posts/includes/switcher.html' %}
    <div class="container py-5">
      {% for post in page_obj %}
      <article>
        {% include 'includes/badge.html' with post=post only %}  
        {% if post.pk %}   
          <a href="{% url 'posts:post_detail' post.id %}">information </a>
        {% endif %}
      </article>
      {% if post.group %}    
        <a href="{% url 'posts:group_posts' post.group.slug %}">all group's posts</a>
      {% endif %}
        <hr>
      {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    {% include 'posts/includes/paginator.html' %}
    </div>        
  {% endblock %}
