{% extends "base.html" %}
{% block title %} Change Password Page {% endblock %}
{% block content %}
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Change Password
              </div>
              {% block form %}
                {% include 'includes/form.html' %}
              {% endblock %} 
                  <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </form>
              </div> 
            </div> 
          </div> 
        </div> 
      </div>
{% endblock %}