{% extends "base.html" %}
{% block title %} Reset Password {% endblock %}
{% block content %}
      <div class="container py-5"> 
        {% if validlink %}
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Enter your new password
              </div>
              {% block form %}
                {% include 'includes/form.html' %}
              {% endblock %}
                    <button type="submit" class="btn btn-primary">
                      Assign a new password
                    </button>
                  </div>
                </form>
              </div> <!-- card body -->
            </div> <!-- card -->
          </div> <!-- col -->
        </div> <!-- row -->
      {% else %}
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Error
              </div>
              <div class="card-body">
                <p>The password reset link is invalid or out of date.</p>
              </div> <!-- card body -->
            </div> <!-- card -->
          </div> <!-- col -->
        </div> <!-- row -->
      {% endif %}
      </div>
{% endblock %}